<ul class="sidebar-menu toggle-menu list-items">
    <li class="page-active"><a href="/admin dashboard"><i class="la la-dashboard mr-2"></i>Dashboard</a></li>
    <li><a href="/admin dashboard booking"><i class="la la-shopping-cart mr-2 text-color"></i>Booking</a></li>
    <li>
        <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
        </span>
        <a href="/admin dashboard orders"><i class="la la-list mr-2 text-color-2"></i>Orders</a>
        <ul class="toggle-drop-menu">
            <li><a href="/admin dashboard orders">Order Details</a></li>
        </ul>
    </li>
    <li>
        <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
        </span>
        <a href="/admin dashboard traveller details"><i class="la la-users mr-2 text-color-3"></i>Travellers</a>
        <ul class="toggle-drop-menu">
            <li><a href="/admin dashboard traveller details">Traveller Details</a></li>
        </ul>
    </li>
    <li><a href="/admin dashboard visa"><i class="la la-plane mr-2 text-color-4"></i>Visa Application</a></li>
    <li><a href="/admin dashboard reviews"><i class="la la-star mr-2 text-color-5"></i>Reviews</a></li>
    <li><a href="/admin dashboard wishlist"><i class="la la-heart mr-2 text-color-6"></i>Wishlist</a></li>
    <li><a href="/admin dashboard travel agents"><i class="la la-text-width mr-2 text-color-7"></i>Travel Agents</a></li>
    <li>
        <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
        </span>
        <a href="#"><i class="la la-area-chart mr-2 text-color-8"></i>Finance</a>
        <ul class="toggle-drop-menu">
            <li><a href="/admin invoice">Invoice</a></li>
            <li><a href="/admin payments">Payments</a></li>
            <li><a href="/admin currency list">Currency List</a></li>
            <li><a href="/admin dashboard subscribers">Subscribers</a></li>
        </ul>
    </li>
    <li>
        <span class="side-menu-icon toggle-menu-icon">
            <i class="la la-angle-down"></i>
        </span>
        <a href="#"><i class="la la-map-signs mr-2 text-color-9"></i>Locations</a>
        <ul class="toggle-drop-menu">
            <li><a href="/admin countries">Countries</a></li>
            <li><a href="/admin airlines">Airlines</a></li>
        </ul>
    </li>
    <li><a href="/admin dashboard settings"><i class="la la-cog mr-2 text-color-10"></i>Settings</a></li>
    <li><a href="/home main"><i class="la la-power-off mr-2 text-color-11"></i>Logout</a></li>
</ul>