
<nav>
    <ul>
        <li>
            <a href="#">Home <i class="la la-angle-down"></i></a>
            <ul class="dropdown-menu-item">
                <li><a href="/home main">Home - main</a></li>
                <li><a href="/home hotel">Home - Hotel</a></li>
                <li><a href="/home activity">Home - Activity</a></li>
                <li><a href="/home car">Home - Car</a></li>
                <li><a href="/home cruise">Home - Cruise</a></li>
                <li><a href="/home flight">Home - Flight</a></li>
                <li><a href="/home city tour">Home - City Tour</a></li>
                <li>
                    <a href="/home bus">
                        Home - Bus
                        <span class="badge bg-2 text-white">New</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Tour <i class="la la-angle-down"></i></a>
            <ul class="dropdown-menu-item">
                <li>
                    <a href="/tour full width">Tour Full width</a>
                </li>
                <li><a href="/tour grid">Tour Grid</a></li>
                <li><a href="/tour list">Tour List</a></li>
                <li>
                    <a href="/tour left sidebar">Tour Left Sidebar</a>
                </li>
                <li>
                    <a href="/tour right sidebar">Tour Right Sidebar</a>
                </li>
                <li><a href="/tour details">Tour details</a></li>
                <li><a href="/tour booking">Tour Booking</a></li>
                <li>
                    <a href="/tour search result">Tour Search Result</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Cruise <i class="la la-angle-down"></i></a>
            <ul class="dropdown-menu-item">
                <li><a href="/cruises">Cruises</a></li>
                <li><a href="/cruise list">Cruise list</a></li>
                <li>
                    <a href="/cruise sidebar">Cruise Sidebar</a>
                </li>
                <li>
                    <a href="/cruise details">Cruise details</a>
                </li>
                <li>
                    <a href="/cruise booking">Cruise Booking</a>
                </li>
                <li>
                    <a href="/cruise search result">Cruise Search Result</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Pages <i class="la la-angle-down"></i></a>
            <div class="dropdown-menu-item mega-menu">
                <ul class="row no-gutters">
                    <li class="col-lg-3 mega-menu-item">
                        <ul>
                            <li><a href="/add hotel">add hotel </a></li>
                            <li>
                                <a href="/add flight">add flight </a>
                            </li>
                            <li><a href="/add tour">add tour </a></li>
                            <li>
                                <a href="/add cruise">add cruise </a>
                            </li>
                            <li><a href="/add car">add car</a></li>
                            <li>
                                <a href="/user dashboard">User Dashboard</a>
                            </li>
                            <li>
                                <a href="/admin dashboard">Admin Dashboard</a>
                            </li>
                            <li><a href="/career">career</a></li>
                            <li>
                                <a href="/route map">
                                    route map<span class="badge bg-2 text-white">New</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-lg-3 mega-menu-item">
                        <ul>
                            <li>
                                <a href="/route">
                                    route<span class="badge bg-2 text-white">New</span>
                                </a>
                            </li>
                            <li>
                                <a href="/route destination">
                                    route destination<span class="badge bg-2 text-white">New</span>
                                </a>
                            </li>
                            <li>
                                <a href="/career details">career details</a>
                            </li>
                            <li>
                                <a href="/user profile">User profile</a>
                            </li>
                            <li>
                                <a href="/become local expert">Become Local Expert</a>
                            </li>
                            <li><a href="/contact">contact</a></li>
                            <li><a href="/cart">Cart</a></li>
                            <li><a href="/checkout">Checkout</a></li>
                            <li>
                                <a href="/recovery password">recover password</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-lg-3 mega-menu-item">
                        <ul>
                            <li>
                                <a href="/payment received">payment received</a>
                            </li>
                            <li>
                                <a href="/payment complete">payment complete</a>
                            </li>
                            <li>
                                <a href="/destination">Destinations</a>
                            </li>
                            <li><a href="/about">about</a></li>
                            <li>
                                <a href="/our services">Our Services</a>
                            </li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/pricing">pricing</a></li>
                            <li><a href="/faq">faq</a></li>
                            <li>
                                <a href="/add new post">add new post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="col-lg-3 mega-menu-item">
                        <ul>
                            <li>
                                <a href="/blog full width">blog full width</a>
                            </li>
                            <li><a href="/blog grid">blog grid</a></li>
                            <li>
                                <a href="/blog sidebar">blog sidebar</a>
                            </li>
                            <li>
                                <a href="/blog details">blog details</a>
                            </li>
                            <li>
                                <a href="/coming soon">Coming Soon</a>
                            </li>
                            <li><a href="/404 page">404 page</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#">Flight <i class="la la-angle-down"></i></a>
            <ul class="dropdown-menu-item">
                <li><a href="/flight grid">Flight grid</a></li>
                <li><a href="/flight list">Flight list</a></li>
                <li>
                    <a href="/flight sidebar">Flight sidebar </a>
                </li>
                <li>
                    <a href="/flight details">Flight details</a>
                </li>
                <li>
                    <a href="/flight booking">Flight Booking</a>
                </li>
                <li>
                    <a href="/flight search result">Flight Search Result</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Hotel <i class="la la-angle-down"></i></a>
            <ul class="dropdown-menu-item">
                <li><a href="/hotel grid">Hotel grid</a></li>
                <li><a href="/Hotel list">Hotel list</a></li>
                <li>
                    <a href="/hotel sidebar">Hotel sidebar </a>
                </li>
                <li><a href="/hotel details">Hotel details</a></li>
                <li>
                    <a href="/hotel booking">Hotel Booking</a>
                </li>
                <li>
                    <a href="/hotel search result">Hotel Search Result</a>
                </li>
                <li>
                    <a href="#">Rooms <i class="la la-plus"></i></a>
                    <ul class="sub-menu">
                        <li><a href="/room list">Room List</a></li>
                        <li><a href="/room grid">Room Grid</a></li>
                        <li>
                            <a href="/search result">Search Result</a>
                        </li>
                        <li>
                            <a href="/search result list">Search Result list</a>
                        </li>
                        <li>
                            <a href="/room details">Room Details</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">car <i class="la la-angle-down"></i></a>
            <ul class="dropdown-menu-item">
                <li><a href="/car grid">car grid</a></li>
                <li><a href="/car list">car list</a></li>
                <li><a href="/car sidebar">car sidebar </a></li>
                <li><a href="/car details">car details</a></li>
                <li><a href="/car booking">Car Booking</a></li>
                <li>
                    <a href="/car search result">Car Search Result</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>


@code {
    
}
