@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace Trizen.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="TechyDevs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Trizen - Travel Booking HTML Template</title>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap"
          rel="stylesheet" />

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="css/line-awesome.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="css/daterangepicker.css" />
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/animated-headline.css" />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/flag-icon.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" href="css/jquery.autocomplete.css" />
    <link rel="stylesheet" href="css/leaflet-routing-machine.css" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

   
    <!-- Template JS Files -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.countTo.min.js"></script>
    <script src="js/animated-headline.js"></script>
    <script src="js/jquery.sparkline.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/chart.extension.js"></script>
    <script src="js/bar-chart.js"></script>
    <script src="js/line-chart.js"></script>
    <script src="js/jquery.ripples-min.js"></script>
    <script src="js/quantity-input.js"></script>
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/superslider-script.js"></script>
    <script src="js/main.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/jquery.autocomplete.js"></script>
    <script src="js/autocomplete-script.js"></script>
    <script src="js/leaflet-routing-machine.js"></script>
    <script src="js/Control.Geocoder.js"></script>
    <script src="js/leaflet-routing-script.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
